# macOS clutter
.DS_Store
**/.DS_Store

# Root-level clutter
/NB/
/Doubts/
/misc_notes.md
/structure.txt

# Node / Frontend Build Artifacts
node_modules/
**/node_modules/
# dist/
# **/dist/
*.local

# Test files
/part0_Fundamentals_of_Web_apps/0_5/main.js
/part1_Introduction_to_React/index.js
/part1_Introduction_to_React/test1/
/part2_Communicating_with_Server/part2_1/
/part2_Communicating_with_Server/countries/eg.json

# Unfinished or non-submission parts
/part5_Testing_React_Apps/
/part8_GraphQL/

# Notes files anywhere in the repo
**/notes.md

# Images in notes
/part1_Introduction_to_React/Web_programmers_oath.png
/part2_Communicating_with_Server/image.png
/part2_Communicating_with_Server/image-*.png

# Environment variables & secrets
.env
**/.env
.env.local
.env.*.local